* {
 margin: 0;
 padding: 0;
}

body, html {
  height: 100%;
}

.bg-image {
  background-image: url("code.png");

  /* Add the blur effect */
  filter: none;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image::after {
  content: "";
  display: block;
  height: 100%;
  background-image: url("lambdapurple.png");
  background-position: center;
  background-repeat: no-repeat;
}